@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("images/Ikaros.ttf") format("woff"),
    url("images/Ikaros-Regular.otf") format("woff3");
}
@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("images/Ikaros-Light.otf") format("woff2");
}

* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}
@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
/* HEADER CSS */
header {
  width: 100%;
  margin: auto;
  padding-top: 0;
  overflow: hidden;
}
.logo {
  width: 20rem;
}
.logotext {
  font-size: 3rem;
  font-family: "Ikaros Sans", sans-serif;
  background: linear-gradient(124deg, #1680e8 0%, #2bc9d3 133.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navlinks {
  width: 50rem;
}
.head-navlink {
  font-family: "Montserrat";
  color: white;
  cursor: pointer;
}
.head-navlink:hover {
  color: #70bdee;
}
.head-navlink :active {
  color: #70ee85;
}
.login {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.dropdown {
  display: none;
}
@media screen and (max-width: 1100px) {
  .navlinks {
    display: none;
  }
  .dropdown {
    display: block;
  }
}
.current-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -10px;
}
.btn1 {
  width: 50%;
  font-size: 1rem;
  font-family: "Montserrat";
  color: #d9e9f1;
  border-radius: 1.5625rem;
  border: 2px solid rgba(176, 174, 174, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(112, 110, 110, 0.6);
}
.btn2 {
  width: 50%;
  font-size: 1rem;
  font-family: "Montserrat";
  border-radius: 1.5625rem;
  background: #00defc;
  color: #01071a;
  border-radius: 1.5625rem;
  border: 2px solid rgba(176, 174, 174, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(98, 231, 238, 0.6);
}
.links {
  background-color: transparent !important;
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.offcanvas-header {
  backdrop-filter: blur(10px);
}
.toggle-links {
  box-shadow: inset rgba(126, 71, 241, 0.4);
  text-align: center;
  width: 100%;
  height: 15%;
  text-decoration: none;
  font-size: 2rem;
  padding: 2%;
}
.toggle-links:hover {
  box-shadow: inset rgba(126, 71, 241, 1);
  background-color: #3d444baf;
}
@media screen and (max-width: 900px) {
  .logo {
    align-self: center;
  }
  .links {
    align-self: flex-end;
  }
}
/* BACKGROUND ELEMENTS STYLING */
.body-bg-grad {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 20%;
  left: -10%;
  border-radius: 100%;
  background: rgba(126, 71, 241, 0.4);
  filter: blur(290px);
  z-index: -1;
}
.glow-block {
  position: absolute;
  left: 20%;
  z-index: -10;
}
.glow-block-1 {
  position: absolute;
  right: 50%;
  top: 80%;
  z-index: -10;
}
.glow-block-2 {
  position: absolute;
  right: -4%;
  top: 60%;
  z-index: -10;
}
.svgblur1 {
  position: fixed;
  left: 30vw;
  z-index: -10;
}
.svgblur2 {
  position: fixed;
  top: 50vh;
  right: 20vw;
  transform: rotate(60deg);
  z-index: -10;
}
.svgblur3 {
  position: fixed;
  right: 15vw;
  transform: rotate(20deg);
  z-index: -20;
}
@media screen and (max-width: 1000px) {
  .glow-block {
    position: absolute;
    left: 0;
    top: 60%;
    z-index: -10;
    filter: blur(3px);
  }
  .glow-block-1 {
    position: absolute;
    right: 0;
    top: 80%;
    z-index: -10;
  }
  .glow-block-2 {
    display: none;
  }
}


/* Landing Body */
.landing {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 3%;
  padding-left: 2%;
}
@media screen and (max-width: 1100px) {
  .landing {
    height: auto;
    padding: auto;
    padding-top: 0;
  }
}
.maincard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
}
.subcard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.titlecard {
  font-family: "Ikaros Sans", sans-serif;
  font-weight: 200;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.fcc-main-heading {
  color: #1270ed;
  font-size: 5.5rem;
}

.iith-main-heading {
  font-size: 2.5rem;
  font-family: "Ikaros Sans", sans-serif;
}
.horizon-button {

  font-size: 2.2em;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px rgba(69, 115, 213, 0.6);
}
.horizon-button:hover {
  box-shadow: 0px 0px 25px rgba(69, 115, 213, 0.6);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .subcard {
    flex-direction: column;
    align-items: center;
  }
  .titlecard {
    text-align: center;
    width: auto;
    align-self: center;
  }
  .horizon-button{
    align-self: center;
    margin: auto;   
  }
}
@media screen and (max-width: 800px) {
  .fcc-main-heading {
    font-size: 4rem;
    width: auto;
  }
  .iith-main-heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .fcc-main-heading {
    font-size: 3.5rem;
    width: auto;
  }
  .iith-main-heading {
    font-size: 1.5rem;
  }

}
/* Horizon Card */
.cardbox {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: end;
}

.horizon-card {
  margin: auto;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Ikaros Sans", sans-serif;
  min-width: 420px;
  height: 17rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.256);
  background: linear-gradient(
    180deg,
    rgba(142, 141, 141, 0.5) -36.57%,
    rgba(217, 217, 217, 0) 141.73%
  );
  backdrop-filter: blur(6px);
}
@media screen and (max-width: 500px) {
  .horizon-card {
    min-width: 300px;
  }
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading div {
  color: #acababad;
}

.horizon-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizon-title h1 {
  font-size: 4rem;
  background: linear-gradient(124deg, #1680e8 2%, #2bc9d3 133.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.countdown-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
}

.countdown-container div {
  font-family: "Nova Square", sans-serif;
  color: #acababad;
}

@media screen and (max-width: 600px) {
  .cardbox {
    width: 100%;
  }
  .horizon-card {
    padding: 5%;
    width: 90%;
    height: 100%;
  }
  .horizon-title h1 {
    font-size: 10vw;
  }
}
@media screen and (max-width: 1000px) {
  .cardbox {
    align-self: left;
  }
}

/* QUOTE PAGE */
.quote {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.mission {
  text-align: left;
  color: #fff;
  font-family: "Ikaros Sans", sans-serif;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2%;
}
.quote-text {
  width: auto;
  height: auto;
  font-size: 12vw;
  font-weight: 700;
  line-height: 100%;
  padding-left: 2%;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  position: absolute;
  right: 0;
  z-index: -5;
}
.quote-span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* YT Embed */
.yt {
  margin: auto;
  height: 90vh;
  width: 90vw;
  z-index: -10;
}
@media screen and (max-width: 800px) {
  .yt {
    height: 90vh;
  }
}
/* About Section */
.about-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#0f4693e5, #0f489399);
  overflow: hidden;
  mix-blend-mode: exclusion;
}
.who-head {
  font-family: "Ikaros Sans", sans-serif;
  display: flex;
  align-items: baseline;
  height: 50%;
  width: 90%;
  line-height: 100%;
  text-align: left;
  align-self: center;
  font-weight: 500;
  font-size: 7vw;
  padding-top: 2%;
  padding-left: 2%;
}
.who-text {
  font-family: "Ikaros Sans", sans-serif;
  width: 90%;
  height: auto;
  color: #f2f2f2;
  font-size: max(1.5rem, min(0.776699vw + 1.31796rem, 2.25rem));
  font-size: 2.75vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 2%;
}
.who-small {
  display: none;
}
.white-noise {
  background-color: white;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  filter: blur(200px);
}
.white1 {
  position: absolute;
  top: -30px;
  right: -50px;
}
.white2 {
  position: absolute;
  bottom: -30px;
  left: 0;
}

@media screen and (max-width: 800px) {
  .about-section {
    padding-top: 2%;
    flex-direction: column;
    overflow: hidden;
  }
  .who-head {
    width: 80%;
    margin: auto;
    font-size: 8vw;
  }
  .who-text {
    width: 70%;
    font-size: 5vw;
    text-align: center;
  }
  .who-large {
    display: none;
  }
  .who-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* What we do section */
.what-we-do {
  height: auto;
  width: 100%;

  font-family: "Ikaros Sans", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-grad-what {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  border-radius: 56.94313rem;
  background: rgba(126, 71, 241, 0.4);
  filter: blur(200px);
}
.what-heading {
  font-size: 6.9vw;
  width: 85%;
  line-height: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
}
.what-heading p {
  width: 40%;
}

.what-cards {
  width: 95%;
  height: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.what-card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: auto;
}
.what-subcard {
  margin: auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-image:hover{
  cursor: pointer;
  transform: translateX(200px);
  transform: translateY(-20px);
  background-color: rgba(0, 0, 0, 0.221);
  border-radius: 3rem;
}

.what-subcard div {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
}
.subcard-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .what-heading {
    font-size: 4rem;
    padding: 2%;
    text-align: center;
  }
  .what-heading p {
    width: 100%;
  }

  .what-cards {
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .what-card {
    width: 80%;
  }
  .what-card img:hover {
    cursor: pointer;
  }
  .subcard-top p {
    font-size: 5vw;
  }
  .subcard-bottom p {
    font-family: "Ikaros Sans", sans-serif;
    font-size: 5.75vw;
    line-height: 103%;
    font-weight: 200;
  }
}

/* Our engagements Section */

.engagements {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Ikaros Sans";
}
.orange-bg {
  z-index: -1;
  position: absolute;
  right: -10%;
  width: 30%;
  height: 20%;
  border-radius: 100%;
  background-color: #fa7e59;
  transform: rotate(-15deg);
  filter: blur(250px);
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .orange-bg {
    filter: blur(120px);
  }
}
.engage-heading {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.engage-heading p {
  width: 60%;
  font-size: 6vw;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .engage-heading p {
    width: 100%;
    font-size: 7vw;
    text-align: center;
  }
}
.scroll {
  width: 300px;
  height: 300px;
  background-color: red;
  /* overflow: auto; */
}
.engage-grid {
  display: grid;
  grid-template-rows: repeat(3, 3fr);
  grid-template-columns: repeat(3, 2fr);
  width: 84%;
  height: auto;
  overflow: auto;
  gap: 10px;
}
.engage-grid-card {
  background: #f1eeee;
  backdrop-filter: blur(52px) brightness(100%);
  border-image: linear-gradient(to bottom, rgb(98, 203, 205), rgb(84, 196, 228))
    1;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.25) 0%,
    rgba(217, 217, 217, 0.079) 100%
  );
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.engage-grid-card p {
  text-align: center;
  height: auto;
  width: 90%;
  font-size: 3vw;
  line-height: 105%;
}

#grid-card1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
#grid-card1 p {
  background: linear-gradient(
    180deg,
    rgb(107, 207, 189) 0%,
    rgb(81, 194, 231) 97.4%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  color: transparent;
}

#grid-card2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
  height: 100%;
  overflow: auto;

  background-color: #0000001a;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgb(250, 194.05, 51) 0%,
    rgb(241, 95, 100) 31.11%,
    rgb(228, 42, 131) 60.54%,
    rgb(107, 41, 213) 100%
  );
}
#grid-card2 p {
  font-size: 4vw;
}

#grid-card3 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
#grid-card3 p {
  background: linear-gradient(
    180deg,
    rgb(240, 237.12, 159) 0%,
    rgb(251, 166, 109) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  color: transparent;
}

#grid-card4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#grid-card4 p {
  background: linear-gradient(
    180deg,
    rgb(69, 194, 245) 0%,
    rgb(114, 98, 225) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  color: transparent;
}

#grid-card5 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
#grid-card5 p {
  background: linear-gradient(
    180deg,
    rgb(251, 166, 109) 0%,
    rgb(248, 76, 64) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  color: transparent;
}

#grid-card6 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
#grid-card6 p {
  color: white;
}
#grid-card6 .upto {
  font-size: 2vw;
}
#grid-card6 .x {
  font-size: 5vw;
}
#grid-card6 .para {
  font-size: 1.5vw;
  font-weight: 200;
}

#grid-card7 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}
#grid-card7 p {
  height: auto;
  background: linear-gradient(
    180deg,
    rgb(247, 235, 149) 0%,
    rgb(177, 206, 71) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  color: transparent;
}

#grid-card8 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}
#grid-card8 p {
  background: linear-gradient(
    90deg,
    rgb(210, 228, 143) 0%,
    rgb(66, 193, 153) 70.63%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: transparent;
}




.card {
  border:none;
  transform-style: preserve-3d;  /* Ensure child elements are rendered in 3D space */
  transition: transform 0.6s; /* Add a smooth transition effect on the transform property */
}

.card:hover {
  transform: rotateY(180deg); /* Flip the card on hover (rotateY for a horizontal flip) */
}

.card-front,
.card-back {
  backface-visibility: hidden; /* Hide the back face of the element during the flip */
}


.card-back:hover{
  transform: rotateY(180deg); /* Initially rotate the back side of the card */
  background-color: yellow;
  /* Styles for the back side of the card */
}


/* FLAGSHIP STYLING */
.flagship{
  width: 100%;
  height: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
  background-image: url("/images/flagship.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

.flagship-heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flagship-cards{
  width: 100%;
  height: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flagship-heading p{
  margin: auto;
  text-align: center;
  width: 80%;
  font-size: 4rem;
}

.flagship-card{
  width: 30%;
  height: auto;
}
.flagship-card:hover{
  transform: translateY(-30px);
}
.flagship-card-lower{
  transform: translateY(100px);
}
.flagship-card-lower:hover{
  transform: translateY(10px);
}

@media screen and (max-width:800px){
  
  .flagship-heading p{
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 4vw;
  }
  .flagship-card-lower{
    transform: translateY(20px);
  }
}

/* FOOTER */
  .footer {
    margin: auto;
    font-family: "Ikaros Sans";
    position: relative;
    overflow: hidden;
  }
  footer {
    background-color: rgb(15, 70, 144);
    padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
  }
  .nav-item a {
    color: white;
  }
  .white-noise1 {
    background-color: white;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    filter: blur(200px);
  }
  .white1-1 {
    position: absolute;
    bottom: 30px;
    right: -20px;
  }
  .white2-1 {
    position: absolute;
    top: 0px;
    left: -200px;
  }
