@font-face {
  font-family: 'Ikaros Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('images/Ikaros.ttf') format('woff'),
    url('images/Ikaros-Regular.otf') format('woff3');
}
@font-face {
  font-family: 'Ikaros Sans';
  font-style: normal;
  font-weight: 200;
  src: local(''),
  url('images/Ikaros-Light.otf') format('woff2');
}


* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  margin: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 0;
}
@media screen and (max-width: 600px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
/* HEADER CSS */
header {
  width: 100%;
  margin: auto;
  padding-top: 0;
  overflow: hidden;
}
.logo {
  width: 20rem;
}
.logotext {
  font-size: 3rem;
  font-family: 'Ikaros Sans', sans-serif;
  background: linear-gradient(124deg, #1680e8 0%, #2bc9d3 133.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navlinks {
  width: 50rem;
}
.head-navlink {
  font-family: "Montserrat";
  color: white;
  cursor: pointer;
}
.head-navlink:hover {
  color: #70bdee;
}
.head-navlink :active {
  color: #70ee85;
}
.login {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
.dropdown {
  display: none;
}
@media screen and (max-width: 1100px) {
  .navlinks {
    display: none;
  }
  .dropdown {
    display: block;
  }
}

.btn1 {
  width: 50%;
  font-size: 1rem;
  font-family: "Montserrat";
  color: #d9e9f1;
  border-radius: 1.5625rem;
  border: 2px solid rgba(176, 174, 174, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(112, 110, 110, 0.6);
}
.btn2 {
  width: 50%;
  font-size: 1rem;
  font-family: "Montserrat";
  border-radius: 1.5625rem;
  background: #00defc;
  color: #01071a;
  border-radius: 1.5625rem;
  border: 2px solid rgba(176, 174, 174, 0.6);
  box-shadow: 0px 0px 10px 2px rgba(98, 231, 238, 0.6);
}
.links {
  background-color: transparent !important;
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.offcanvas-header {
  backdrop-filter: blur(10px);
}
.toggle-links {
  box-shadow: inset rgba(126, 71, 241, 0.4);
  text-align: center;
  width: 100%;
  height: 15%;
  text-decoration: none;
  font-size: 2rem;
  padding: 2%;
}
.toggle-links:hover {
  box-shadow: inset rgba(126, 71, 241, 1);
  background-color: #3d444baf;
}
@media screen and (max-width: 900px) {
  .logo {
    align-self: center;
  }
  .links {
    align-self: flex-end;
  }
}
/* BACKGROUND ELEMENTS STYLING */
.body-bg-grad {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 20%;
  left: -10%;
  border-radius: 100%;
  background: rgba(126, 71, 241, 0.4);
  /* background: rgba(228, 216, 255, 0.4); */
  filter: blur(290px);
  z-index: -1;
}
.glow-block {
  position: absolute;
  left: 10px;
  z-index: -10;
  filter: blur(10px);
  z-index: -20;
}

.svgblur1 {
  position: fixed;
  left: 30vw;
  z-index: -10;
}
.svgblur2 {
  position: fixed;
  top: 50vh;
  right: 20vw;
  transform: rotate(60deg);
  z-index: -10;
}
.svgblur3 {
  position: fixed;
  right: 15vw;
  transform: rotate(20deg);
  z-index: -20;
}
.rightboxblur {
  position: absolute;
  transform: rotate(-60deg);
  z-index: -20;
}

/* Landing Body */
.landing {
  width: 100%;
  height: 90vh;
  margin: auto;
  padding-top: 3%;
}
@media screen and (max-width: 1100px) {
  .landing {
    height: auto;
    padding: auto;
    padding-top: 0;
  }
}
.maincard {
  display: flex;
  width: 100%;
  justify-content: center;
}
.subcard {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.titlecard {
  font-family: 'Ikaros Sans', sans-serif;
  font-weight: 200;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.fcc-main-heading {
  color: #1270ed;
  font-size: 5.5rem;
}
.iith-main-heading {
  font-size: 2.5rem;
  font-family: 'Ikaros Sans', sans-serif;

}
@media screen and (max-width: 800px) {
  .fcc-main-heading {
    font-size: 4.5rem;
  }
  .iith-main-heading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .subcard {
    flex-direction: column;
    align-items: flex-start;
  }
  .titlecard {
    align-self: flex-start;
  }
}

.search {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.256);
}
@media screen and (max-width: 500px) {
  .search {
    width: 80vw;
  }
}
.search:-ms-keyboard-active {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.256);
}
#searchbar {
  font-family: 'Ikaros Sans', sans-serif;
  background: none;
  border: none;
  overflow: visible;
  cursor: pointer;
  width: 100%;
}
#searchbutton {
  width: 10%;
  border: none;
  background: none;
}

/* Horizon Card */
.cardbox {
  width: 35%;
  height: 100%;
}

.horizon-card {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nova Square", sans-serif;
  width: 26rem;
  height: 17rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.256);
  background: linear-gradient(
    180deg,
    rgba(142, 141, 141, 0.5) -36.57%,
    rgba(217, 217, 217, 0) 141.73%
  );
  backdrop-filter: blur(6px);
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading div {
  color: #acababad;
}

.horizon-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizon-title h1 {
  font-size: 4rem;
  background: linear-gradient(124deg, #1680e8 2%, #2bc9d3 133.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.countdown-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2%;
}

.countdown-container div {
  font-family: "Nova Square", sans-serif;
  color: #acababad;
}

@media screen and (max-width: 600px) {
  .cardbox {
    width: 100%;
  }
  .horizon-card {
    padding: 5%;
    width: 90%;
    height: 100%;
  }
  .horizon-title h1 {
    font-size: 10vw;
  }
}
@media screen and (max-width: 1000px) {
  .cardbox {
    align-self: left;
  }
}

/* QUOTE PAGE */
.quote {
  font-family: 'Ikaros Sans', sans-serif;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.mission {
  text-align: left;
  color: #fff;
  font-family: 'Ikaros Sans', sans-serif;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quote-text {
  width: auto;
  text-wrap: balance;
  height: auto;
  font-size: 12vw;
  font-weight: 700;
  line-height: 100%;
}
.arrow {
  width: 80%;
  position: absolute;
  right: 0;
  z-index: -5;
}

/* YT Embed */
.yt {
  margin: auto;
  height: 90vh;
  width: 90vw;
  z-index: -10;
}
@media screen and (max-width: 800px) {
  .yt {
    height: 90vh;
  }
}
/* About Section */
.about-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#0f4693e5, #0f489399);
  overflow: hidden;
  mix-blend-mode: exclusion;
}
.who-head {
  font-family: 'Ikaros Sans', sans-serif;
  display: flex;
  align-items: baseline;
  height: 50%;
  width: 90%;
  line-height: 100%;
  text-align: left;
  align-self: center;
  font-weight: 500;
  font-size: 7vw;
  padding-top: 2%;
  padding-left: 2%;
}
.who-text {
  font-family: 'Ikaros Sans', sans-serif;
  width: 90%;
  height: auto;
  color: #f2f2f2;
  font-size: max(1.5rem, min(0.776699vw + 1.31796rem, 2.25rem));
  font-size: 2.75vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 2%;
}
.who-small {
  display: none;
}
.white-noise {
  background-color: white;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  filter: blur(200px);
}
.white1 {
  position: absolute;
  top: -30px;
  right: -50px;
}
.white2 {
  position: absolute;
  bottom: -30px;
  left: 0;
}

@media screen and (max-width: 800px) {
  .about-section {
    padding-top: 2%;
    flex-direction: column;
    overflow: hidden;
  }
  .who-head {
    width: 80%;
    margin: auto;
    font-size: 8vw;
  }
  .who-text {
    width: 70%;
    font-size: 5vw;
    text-align: center;
  }
  .who-large {
    display: none;
  }
  .who-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* What we do section */
.what-we-do {
  height: auto;
  width: 100%;
  font-family: 'Ikaros Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-grad-what {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  border-radius: 56.94313rem;
  background: rgba(126, 71, 241, 0.4);
  filter: blur(200px);
}
.what-heading {
  font-size: 6.9vw;
  width: 85%;
  line-height: 100%;
  padding-top:3%;
  padding-bottom:2%;
}
.what-heading p{
  width: 40%;
}

.what-cards {
  width: 90%;
  height: 20rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.what-card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: auto;
  border-radius: 2rem;
  
  border: 1px solid rgba(255, 255, 255, 0.256);
  background: linear-gradient(
    180deg,
    rgba(47, 73, 221, 0.5) -36.57%,
    rgba(217, 217, 217, 0) 141.73%
  );
  backdrop-filter: blur(6px);
  padding: auto;
}
.what-subcard{
  margin: auto;
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.256);
  background-image: url("images/Noisebg.svg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: auto;
  padding: 4%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.what-subcard:hover{
  cursor: pointer;
  box-shadow: 10px 20px rgba(0 , 0, 0, 0.5);
}

.what-subcard div{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
}
.subcard-top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.subcard-top img{
  width: auto;
}
.subcard-bottom{
  display: flex;
  align-items: end;
  justify-content: flex-start;
}
.subcard-bottom p{
  font-family: 'Ikaros Sans' , sans-serif;
  font-size: 2.75vw;
  line-height: 103%;
  font-weight: 200;
}
@media screen and (max-width: 800px) {
  .what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .what-heading{
    font-size: 7vw;
    padding: 2%;
    text-align: center;
  }
  .what-heading p{
    width: 100%;
  }

  .what-cards {
    flex-direction: column;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .what-card{
    width: 80%;
    height: 20rem;
  }
  .subcard-top p{
    font-size: 5vw;
  }
  .subcard-bottom p{
    font-family: 'Ikaros Sans' , sans-serif;
    font-size: 5.75vw;
    line-height: 103%;
    font-weight: 200;
  }
}



/* FOOTER */
.footer{
  margin: auto;
  font-family: 'Ikaros Sans';
  position: relative;
  overflow: hidden;
}
footer{
  background-color: rgb(15,70,144);
  padding-top: 4%;
  padding-right: 4%;
  padding-left: 4%;
}
.nav-item a{
  color: white;
}
.white-noise1 {
  background-color: white;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  filter: blur(200px);
}
.white1-1 {
  position: absolute;
  bottom: 30px;
  right: -20px;
}
.white2-1 {
  position: absolute;
  top: 0px;
  left: -200px;
}