@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("images/Ikaros.ttf") format("woff"),
    url("images/Ikaros-Regular.otf") format("woff3");
}
@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("images/Ikaros-Light.otf") format("woff2");
}

.horizon-page {
  font-family: "Ikaros Sans";
}
.iith-heading-hor {
  color: #1270ed;
  font-size: 2.3rem;
  font-weight: 400;
}
.hor-heading-hor {
  font-size: 7.5vw;
  font-weight: 400;
}
.hor-button button {
  box-shadow: 0px 0px 20px rgba(36, 102, 250, 0.5);
}
.hor-button button:hover {
  box-shadow: 0px 0px 50px rgba(69, 115, 213, 0.6);
  cursor: pointer;
}
.about-section {
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section-sub {
  margin: auto;
  width: 90%;
}
.about-row {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-outcard {
  width: 25%;
  height: auto;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-card-heading {
  width: 100%;
  text-align: center;
  font-size: 6.5vw;
}
.about-text {
  font-weight: 200;
  font-size: 3vw;
}


