@font-face {
    font-family: 'Ikaros Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('images/Ikaros.ttf') format('woff'),
      url('images/Ikaros-Regular.otf') format('woff3');
  }
  @font-face {
    font-family: 'Ikaros Sans';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('images/Ikaros-Light.otf') format('woff2');
  }
  

*{
    font-family: 'Ikaros Sans';
}

.sponsor-grid{
    height: auto;    
    width: 100%;
}

.sponsor-heading p{
    width: 50%;
    margin: auto;
    font-size: 5rem;
    text-align: center;
}

.sponsor-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

@media screen and (max-width:850px) {
    .sponsor-card{
        width: 50%;
    }
    .sponsor-heading p{
        width: 70%;
        margin: auto;
        font-size: 4rem;
        text-align: center;
    }
}