@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("images/Ikaros.ttf") format("woff"),
    url("images/Ikaros-Regular.otf") format("woff3");
}
@font-face {
  font-family: "Ikaros Sans";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("images/Ikaros-Light.otf") format("woff2");
}

* {
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Ikaros Sans";
}

.main-team-heading{
    width: 100%;
}
.main-team-heading p{
    margin: auto;
    text-align: center;
    width: 70%;
    font-size: 6rem;
}


.team{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-heading{
    margin: auto;
    text-align: center;
    width: 70%;
    font-size: 4rem;
}

.team-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
}
.team-card-overall{
    width: 50%;
}

.team-card-heads{
    width: 30%;
}
@media screen and (max-width:800px) {
    .main-team-heading p{
        margin: auto;
        text-align: center;
        width: 70%;
        font-size: 3rem;
    }
    .team-heading{
        margin: auto;
        text-align: center;
        width: 70%;
        font-size: 2rem;
    }
    
}